:root {
	--font: 'Baloo 2', sans-serif;

	--color-primary: #4CAF50;
	--color-secondary: #FF9800;
	--color-background: #FFF8E1;
	--color-card-bg: #FFFFFF;
	--color-text: #333333;
	--color-heading: #000000;
	--color-tag: #81D4FA;
}

body {
	font-family: var(--font);
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

input {
	box-shadow: none;
	appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1.2;
}

header {
	color: var(--color-heading);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 2rem 0;

	h1 {
		flex-basis: 100%;
		cursor: pointer;
	}
}

.base-layout {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.custom-button {
	padding: 1rem 3rem;
	border-radius: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	&.primary {
		border: 1px solid var(--color-primary);
		background-color: var(--color-primary);
		color: white;

		&:hover {
			color: var(--color-primary);
			background-color: var(--color-background);
		}
	}

	&.secondary {
		border: 1px solid var(--color-secondary);
		background-color: var(--color-secondary);
		color: white;

		&:hover {
			color: var(--color-secondary);
			background-color: var(--color-background);
		}
	}
}

.pet-card {
	display: flex;
	flex-direction: column;
	background-color: var(--color-card-bg);
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 16px;
	text-align: left;
	margin: 16px 0;

	.card-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		border-radius: 12px;
	}

	h2 {
		margin-top: 12px;
		color: var(--color-heading);
		text-transform: capitalize;
	}

	p {
		margin-top: 8px;
	}
}

.mv {
	display: flex;
	flex-direction: column;
	gap: 3rem;


	.mv-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: var(--color-card-bg);
		border-radius: 12px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		padding: 2rem;

		.mv-welcome-message {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}

		.mv-found {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			color: var(--color-secondary);

			.big {
				font-size: 2rem;
				font-weight: bold;
			}
		}

		h2 {
			font-size: 2rem;
		}

		&>div {
			flex: 1;
			min-width: 250px;
		}
	}

	.pet-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1rem;
		width: 100%;

		h2 {
			grid-column: 1 / -1;
		}
	}
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	background-color: var(--color-card-bg);
	border-radius: 12px;
	padding: 1rem 3rem;
	margin: 12px 5rem;

	h2 {
		grid-column: 1/ -1;
	}

	label {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	input,
	textarea {
		grid-column: span 2;
		border: 1px solid #ccc;
		border-radius: 12px;
		padding: .5rem 1rem;
	}

	textarea{
		min-height: 100px;
	}

	.radio-set {
		grid-column: span 2;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 1rem;

		label {
			border: 1px solid #ccc;
			border-radius: 1rem;
			padding: .25rem 2rem;
		}

		label:has(input:checked) {
			border: 1px solid var(--color-secondary);
			background-color: var(--color-secondary);
			color: var(--color-card-bg)
		}

		input {
			display: none;
		}
	}

	.form-actions {
		grid-column: 1/ -1;
	}

}